@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Open+Sans&display=swap');

/* INIZIO SEZIONE NAVBAR */


.container-fluid {
    background-color: white; 
    border-bottom: 1px solid;
}

.button {
    font-family: 'Arima', cursive;
}

h1, h2, h3 {
    font-family: 'Arima', cursive;
    color: red;
}

.button input {
    border: none;
    background: none;
}

.centered-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-right: 11em;
}

.button:hover input {
    color: #ffaf04;
}

/* INIZIO SEZIONE PAGINA DEFAULT */
.card {
    border: none;
}

.card-text {
    font-size: 13px;
}