@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: #acacac; 
}

.button {
    font-family: 'Arima', cursive;
}

.button input {
    border: none;
    background: none;
}

.centered-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1220px;
}

.button:hover input {
    color: red;
}