/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Open+Sans&display=swap");

/* BODY */
body {
    font-family: "Open Sans", sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    display:flex;
    flex-direction:column;
    height: 100vh;
}

h1, h2, h3 {
    font-family: "Arima", cursive !important;
    color: red;
}

h4 {
    font-family: "Arima", cursive !important;
}

section {
    background-color: #d5c2c64d;
}


/* SEZIONE LOGIN */
#inputlogin {
    input {
        background: none;
        border: 1px solid black;
        color: red;
    }
}

/* SEZIONE REGISTER */
#inputregister {
    input {
        background: none;
        border: 1px solid black;
        color: red;
    }
}


.card {
    #loginright {
        background-color: red;
        color: white;
    }
}


@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/* SEZIONE NAVBAR */
#navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #efefef;
}

.container-fluid {
    font-family: "Arima", cursive !important;
    background-color: white;
    border-bottom: 1px solid;
    height: 120px;

    .button {

        :hover {
            color: #ffaf04;
        }

        input {
            border: none;
            background: none;
        }
    }

    .centered-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;

        input {
            width: 100px;
            margin-right: 12em;
        }
    }
}

/* SEZIONE HOME PAGE */

/*Carousel*/
.carousel-inner {
    height: 25em;
}

.fit-carousel {
    object-fit: cover;
    height: 30em;
}

@media screen and (max-width: 600px) {
    .carousel-inner {
        height: 18em;
    }
    .fit-carousel {
        object-fit: cover;
        height: 100%;
    }
}

/*Content*/
#content {
    .img-title {
        width: 150px;
    }
}

#content2 {

}

#content3 {
    .img-title {
        max-width: 600px;
    }



    .text-title {
        background-color: #94052d;
        width: 100%;
        height: 4em;
        margin: 2em 0 2em 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    }
}

#content4 {
    cursor: pointer;

    h3 {
        margin: 0;
    }

    .card {
        border: 1px solid black ;
        border-radius: inherit;
        padding: 1em;
        display: flex;
        margin: 1em;
    }
    
}

#content5 {
    h2 {
        margin-bottom: 1em;
        margin-top: 1em;
    }

    h3 {
        font-size: 2em;
    }
}

#content6 {
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    .homeCard {
        height: 50%;
        width: 100%;

        .cardContent {
            width: 40%;
            padding: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(255, 255, 255);
            text-align: center;

            .textGold {
                color: #ccaa55;
            }

            .textGrey {
                color: #808080;
            }

            .cardTitle {
                font-size: 53px;
                margin-bottom: 1em;
            }

            .myBtn {
                background: #ccaa55;
                border: none;
                padding: 0.5em 2em;
                text-transform: uppercase;
                color: white;
                margin-top: 1em;
            }
        }
    }

    .homeImage {
        height: 70%;
        width: 70%;
        object-fit: cover;
    }
}



/*PAGINA CARRELLO*/
.cartTable {
    display: flex;
    justify-content: center;
    width: 100%;

    tbody {
        width: 60%;
    }

    .cartImg {
        height: 4em;
    }

    th {
        padding: 5px 10px;
        width: 10%;
    }

    td {
        padding: 5px 10px;
    }
}
/*Notifica Carrello*/
.notifica {
    position: absolute;
    right: -15px;
    top: 3px;
    font-size: 9px;
    padding: 2px 6px;
    color: white;
}

/*Card*/
.card {
    border: none;

    .card-text {
        font-size: 18px;
    }

    .card-body {
        input {
            background: none;
            border: 1px solid red;
            color: red;
        }
    }
}
.butt {
        background: none;
        border: 1px solid red;
        color: red;
}

/* Animazione immagine */
.img-container {
    overflow: hidden;
}

.noPromo {
    display: none;
}
.promoSticker {
    position: absolute;
    width: 55px;
    right: 8px;
    top: 10px;
    z-index: 1;
}

.card {
    display: block;
    overflow: hidden;
}

.card-img-top {
    height: 15em;
    object-fit: cover;
    transform: scale(1);
    transition: transform .8s;
}

.card-img-top:hover {
    transform: scale(1.1);
    transition: transform ease-out .8s; 
}

.butt {
    background: none;
    border: 1px solid red;
    color: red;
}

/*PAGINA PRODOTTI*/
.fs-big {
    font-size: 4em;
}

.fs-istruzioni {
    font-size: 10em;
    opacity: 0.5;
}

.iconaOrdina {
    padding: 0 15px 25px 15px;
    position: absolute;
    z-index: 1;
}

.bg-red {
    background-color: red;
}




