/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Open+Sans&display=swap");

/* BODY */
body {
    font-family: "Open Sans", sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3 {
    font-family: "Arima", cursive !important;
    color: red;
}


/* SEZIONE LOGIN */
.formContainer {
    display: flex;
    flex-direction: column;
    width: 70vh;
    margin: auto
}

/* SEZIONE NAVBAR */
#navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.container-fluid {
    font-family: "Arima", cursive !important;
    background-color: white;
    border-bottom: 1px solid;
    height: 120px;

    .button {

        :hover {
            color: #ffaf04;
        }

        input {
            border: none;
            background: none;
        }
    }

    .centered-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;

        input {
            width: 200px;
        }
    }
}

/* SEZIONE HOME PAGE */

/*Carousel*/
.carousel-inner {
    height: 25em;
}


/*Content*/
#content {
    .img-title {
        width: 150px;
    }
}

#content2 {

}

#content3 {
    .img-title {
        width: 600px;
    }

    input {
        background: none;
        border: 1px solid red;
        color: red;
    }

    .text-title {
        background-color: #94052d;
        width: 100%;
        height: 4em;
        margin: 2em 0 2em 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    }
}

#content4 {
    cursor: pointer;

    h3 {
        margin: 0;
    }

    .card {
        border: 1px solid black ;
        border-radius: inherit;
        padding: 1em;
        display: flex;
        margin: 1em;
    }
    
}

#content5 {
    h2 {
        margin-bottom: 1em;
        margin-top: 1em;
    }

    h3 {
        font-size: 2em;
    }

    .card {
        card-body {
            display: flex;
            flex-direction:column;
            justify-content:space-between;
        }
    }
}

#content6 {
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    .homeCard {
        height: 50%;
        width: 100%;

        .cardContent {
            width: 40%;
            padding: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(255, 255, 255);
            text-align: center;

            .textGold {
                color: #ccaa55;
            }

            .textGrey {
                color: #808080;
            }

            .cardTitle {
                font-size: 53px;
                margin-bottom: 1em;
            }

            .myBtn {
                background: #ccaa55;
                border: none;
                padding: 0.5em 2em;
                text-transform: uppercase;
                color: white;
                margin-top: 1em;
            }
        }
    }

    .homeImage {
        height: 70%;
        width: 70%;
        object-fit: cover;
    }
}


/*Card*/
.card {
    border: none;

    .card-text {
        font-size: 18px;
    }

    .card-body {
        input {
            background: none;
            border: 1px solid red;
            color: red;
        }
    }
}