/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Open+Sans&display=swap");
/* BODY */
body {
  font-family: "Open Sans", sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3 {
  font-family: "Arima", cursive !important;
  color: red;
}

section {
  background-color: rgba(213, 194, 198, 0.3019607843);
}

/* SEZIONE LOGIN */
#inputlogin input {
  background: none;
  border: 1px solid black;
  color: red;
}

/* SEZIONE REGISTER */
#inputregister input {
  background: none;
  border: 1px solid black;
  color: red;
}

.card #loginright {
  background-color: red;
  color: white;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
/* SEZIONE NAVBAR */
#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #efefef;
}

.container-fluid {
  font-family: "Arima", cursive !important;
  background-color: white;
  border-bottom: 1px solid;
  height: 120px;
}
.container-fluid .button :hover {
  color: #ffaf04;
}
.container-fluid .button input {
  border: none;
  background: none;
}
.container-fluid .centered-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.container-fluid .centered-logo input {
  width: 100px;
  margin-right: 12em;
}

/* SEZIONE HOME PAGE */
/*Carousel*/
.carousel-inner {
  height: 25em;
}

/*Content*/
#content .img-title {
  width: 150px;
}

#content3 .img-title {
  width: 600px;
}
#content3 .text-title {
  background-color: #94052d;
  width: 100%;
  height: 4em;
  margin: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content3 .text-title h2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#content4 {
  cursor: pointer;
}
#content4 h3 {
  margin: 0;
}
#content4 .card {
  border: 1px solid black;
  border-radius: inherit;
  padding: 1em;
  display: flex;
  margin: 1em;
}

#content5 h2 {
  margin-bottom: 1em;
  margin-top: 1em;
}
#content5 h3 {
  font-size: 2em;
}

#content6 {
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#content6 .homeCard {
  height: 50%;
  width: 100%;
}
#content6 .homeCard .cardContent {
  width: 40%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
#content6 .homeCard .cardContent .textGold {
  color: #ccaa55;
}
#content6 .homeCard .cardContent .textGrey {
  color: #808080;
}
#content6 .homeCard .cardContent .cardTitle {
  font-size: 53px;
  margin-bottom: 1em;
}
#content6 .homeCard .cardContent .myBtn {
  background: #ccaa55;
  border: none;
  padding: 0.5em 2em;
  text-transform: uppercase;
  color: white;
  margin-top: 1em;
}
#content6 .homeImage {
  height: 70%;
  width: 70%;
  object-fit: cover;
}

/*PAGINA CARRELLO*/
.cartTable {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cartTable tbody {
  width: 60%;
}
.cartTable .cartImg {
  height: 4em;
}
.cartTable th {
  padding: 5px 10px;
  width: 10%;
}
.cartTable td {
  padding: 5px 10px;
}

/*Card*/
.card {
  border: none;
}
.card .card-text {
  font-size: 18px;
}
.card .card-body input {
  background: none;
  border: 1px solid red;
  color: red;
}

/* Animazione immagine */
.img-container {
  overflow: hidden;
}

.card {
  display: block;
  overflow: hidden;
}

.card-img-top {
  height: 15em;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.8s;
}

.card-img-top:hover {
  transform: scale(1.1);
  transition: transform ease-out 0.8s;
}
