/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Open+Sans&display=swap");


/* BODY */
body {
    font-family: "Open Sans", sans-serif !important;
    margin: 0;
    padding: 0;
    height:100%
}

h1, h2, h3 {
    font-family: "Arima", cursive !important;
    color: red;
}


/* SEZIONE LOGIN */



/* SEZIONE NAVBAR */
.container-fluid {
    background-color: white;
    border-bottom: 1px solid;

    .button {

        :hover {
            color: #ffaf04;
        }

        input {
            border: none;
            background: none;
        }
    }

    .centered-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
}

/* SEZIONE HOME PAGE */

/*Carousel*/
.carousel-inner {
    height: 25em;
}

/*Card*/
.card {
    border: none;

    .card-text {
        font-size: 13px;
    }

    .card-body {
        input {
            background: none;
            border: 1px solid red;
            color: red;
        }
    }
}

/*Section*/
section {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

    .homeCard {
        height: 50%;
        width: 100%;

        .cardContent {
            width: 50%;
            padding: 5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(255, 255, 255);
            text-align: center;

            .textGold {
                color: #ccaa55;
            }

            .textGrey {
                color: #808080;
            }

            .cardTitle {
                font-size: 53px;
                margin-bottom: 1em;
            }

            .myBtn {
                background: #ccaa55;
                border: none;
                padding: 0.5em 2em;
                text-transform: uppercase;
                color: white;
                margin-top: 1em;
            }
        }
    }

    .homeImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}








