@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Arima', cursive;
    color: red;
}


/* INIZIO SEZIONE NAVBAR */
.container-fluid {
    background-color: white;
    border-bottom: 1px solid;

    .button {
        font-family: 'Arima', cursive;

        :hover {
            color: #ffaf04;
        }

        input {
            border: none;
            background: none;
        }
    }

    .centered-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        margin-right: 11em;
    }
}



/* INIZIO SEZIONE PAGINA DEFAULT */
.card {
    border: none;

    .card-text {
        font-size: 13px;
    }

    .card-body {
        input {
            background: none;
            border: 1px solid red;
            color: red;
        }
    }
}

